@charset "utf-8";

.left {
	float: left;
	width: 50%;
}

.right {
	float: right;
	width: 50%;
}

.label-checkout {
	float: right;
	width: 100%;
}

.border-bottom {
	border-bottom: 3px solid black;
	width: 80%;
}

.button-checkout {
	float: center;
	width: 100%;
	font-stretch: wider;
}