@charset "utf-8";
.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

table{
	border: solid #8080ff 3px;
}

.border-bottom{
	border-bottom: 3px solid black;
	width: 80%;
}